/*CSS*/
#menubar {
    width:100%;
    background-color:#444;
    color: #fff;
}
#menu, #right {
    display:inline;
}
#right {
    width:500px;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    left: 0px;
    height: 100%;
    background-color:grey;
}
#menu {
    float:left;
    width: 100px;
    height: 100%;
}
#menu li {
    background-color:black;
    border-bottom: 1px solid #000;
    color:white;
}
#swag {background-color:red;
    color:blue;
}
