/*we are going to make a sexy group of developers */


#header{ display:none;}

body, html{
	background-color: white;
	font-family: "Century Gothic",Verdana,Arial,Helvetica,sans-serif;
	vertical-align: middle;
	width:80%;
	display: table;
    margin: auto;
	padding:5px;
	}

html { 
	background-color: blue;
	background-position:fixed;
	background-attachment:fixed;
	}


h1, h2, h3{ 
	color:black;
	font-weight:100;
    font-family: "Century Gothic",Verdana,Arial,Helvetica,sans-serif; 
	text-transform: uppercase;
	font-size: 20pt;
}



#section{/*formerly "content"*/

	color:black;

}


#section a:hover {color:blue; text-decoration:underline; }

input, button {
    border:1px solid #296BC7;
    border-radius:5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-family: 'Century Gothic';
    background-color: #FFFFFF;
    color: #296BC7;
}



input:hover{
    border: none;
    background: #bcbcbc;
    color:white;

}

input.text {
     background:white;
      color:black

 }
input.text:active,focus {
     background:white;

 }
button:hover {
    border: none;
    background:#296BC7;
    color:white;
}



#navd {display:none;}/*hides ios stuff*/
	
#events {
		height:100%;
		border-right: 1px solid black;
		float:center; 
		
		}

#classes {/*formerly "side"*/
	height:100%;
	float:left; 
	border-radius:5px; 
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	color:white;

-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
			} 

		
marquee {
	border-radius:100px; 
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
	color:black;
	border: 1px #296BC7 solid;
	background-color: #bcbcbc ;
	opacity:0.8;
    filter:alpha(opacity=80);
    height: 20px;
    marquee-speed: fast;
	display:none;
	}
marquee:hover {
			border-radius:100px; 
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
	color:black;
	border: 1px #296BC7 solid;
	background-color: white ;
	opacity:0.8;
    filter:alpha(opacity=80);
		}
		
#links{/*formerly "content"*/

float:right;
	color:black;
	width:30%;
background-color:white;

}

#links a { color:black; }
#links a:hover {color:blue; text-decoration:underline; }
#tests {height:100%;
		width:30%;
		 float: center;
		}

body {width: auto; margin:auto;}

.due {color:white;
	opacity:0.8;
    filter:alpha(opacity=80);
}

#top { 
  z-index: 2; 
  width: 67%;  
  background: white;  
  text-align: left;
  text-transform:uppercase;
  font-weight:bold;
} 

#top a { color:black;}
 #top li li, #top li li a { 
  height:0px; 
  text-align: left; 
  color: rgba(255,255,255,.0); 
  text-decoration: none; 
  text-transform:none;
 } 
 
  #top li:hover li { 
  height:auto; 
  margin-top:5px; 
  margin-bottom: 5px; 
  background: white; 
} 

#top li li:first-of-type { 
  padding-top: 15px; 
} 

#top li:hover li a { 
  color: black; 
} 

#top ul {
    padding: 0;
    list-style-type: none;
}

 li { 
  list-style: none; 
} 

a { 
  color: black; 
  text-decoration: none; 
} 

#head  {	color:white; 

}

  #footer {clear: both;
       border-top: 1px solid black; 
   color:black;
   } 
   #footer p { color:black; }
#footer a {color:blue; }

#work {
opacity:0.8;
filter:alpha(opacity=80);
	background-color:white;
color:black;
}


#eventcol{
	float:left;
	height:90%;
        width:20%;
	overflow:hidden;
}

#ical{
	width:80%;
	height:90%;
	float:right;
	
}
h2{
	color:white
	font-weight:normal;
}
h2{
	font-size:2em;
}
p{
	font-size:1em;
	color:black;
}
 #section p {
color:black;
}
a { text-decoration:none;
    color:blue; 
	content:" >";
	color:black;
} 



/*Nathans fun house!*/






#Tlink{border-bottom: 1px solid black; 
background-color:black;
color:red; 
position:fixed; 
top:92.9%; left:95%;
 border: 1px white groove; 
border-radius:10px;
padding:3px;
}

/* history */


a.lel{color:white;}





div.admin
{
width:110px;
height:20px;
background:black; 
transition:width 2s;
-webkit-transition:width 2s; /* Safari */
overflow:hidden;
color:white;
}

div.admin:hover
{
font-weight:bold;/*why bold?*/
width:500px; 
background-color:blue;
color:white;
}




ul {
list-style: none;

}

#nos {
color:white
}



a.nav:hover {
color:blue;
}







#wip { /*work in progress*/
display:none; }


